.boxed {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
  border: 1px solid $gray;
}

// ?. Slider
// - - - - - - - - - - - - - - -
//.slider-wrapper

// ?. Box
// - - - - - - - - - - - - - - -
//.box {
//  @extend .boxed;
//  background: #fff;
//  display: flex;
//  flex-direction: column;
//  flex: 1;
//
//  border: none;
//
//  &> .subheader {
//    line-height: 1;
//    font-size: 26px;
//    border-bottom: 1px solid #f4f4f1;
//    padding: 22px 20px;
//    margin: 0;
//
//    i {
//      color: #3fa2d8;
//      margin-right: 15px;
//      float: left;
//      line-height: inherit;
//      display: block;
//      font-size: 30px;
//    }
//  }
//  &> div {
//    color: #616161;
//    padding: 20px;
//  }
//  p {
//    margin-bottom: 0.7rem;
//    &:last-child {
//      margin-bottom: 0;
//    }
//  }
//  .tab-content {
//    padding: 0;
//  }
//}

#header {
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.32);
  background: #fff;
  padding: $global-padding;
  h1 {
    font-size: 2.2rem;
    font-weight: 700;
    &> a {color: $body-font-color;}
  }
}
#main-container {
  padding: 0;
  flex: 1;
  overflow-y: auto;
  position: relative;
}
.main-wrapper {
  padding: $global-padding 5%;
}

.icon-navigation {
  font-size: 1.6rem;
  margin-left: 1rem;
}
.menu-group-left {
  align-items: center;
  flex-direction: row;
}
.close-button {
  z-index: 9;

  &:hover {
    color: #fff;
  }
}


@include breakpoint(small) {
  #main-container {

  }

  .menu-group > .menu-group-left {
    flex: 1;
    /* vebbe */
  }
  .menu-group > .menu-group-right {
    display: block;
    flex: inherit;
  }
}

span.highlight {
  background-color: orange;
}

form label {
  font-weight: $font-weight-bold;
}

.switch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.messages {
  position: relative;
}

.messages .close-button {
  top: 6px;
  right: 8px;
  color: #fff;
}

.messages .label {
  margin: 0;
  padding: 10px;
}

.field-error-message {
  font-size: .9em;
  line-height: 1;
  font-style: italic;
  margin-top: -0.1rem;
  color: red;
  display: block;
  margin-bottom: 1rem;
}

.field-warn-message {
  font-size: .9em;
  line-height: 1;
  font-style: italic;
  margin-top: -0.1rem;
  color: #ffa931;
  display: block;
  margin-bottom: 1rem;
}

.noUi-target {
  margin-top: 1.2rem;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* :not(:required) hides this rule from IE9 and below */
.spinner:not(:required) {
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 8px;
  width: 1em;
  height: 1em;
  margin: 0.5em;
  overflow: hidden;
  text-indent: 100%;
}