span.highlight {
    background-color: yellow;
}

.switch {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.messages {
    position: relative;
}

.messages .close-button {
    top: 3px;
    color: #fff;
    
    
}