.button.expand {
    width: 100%;
}

span.highlight {
    background-color: yellow;
}

.switch {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}