span.highlight {
    background-color: yellow;
}

.switch {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.messages {
    position: relative;
}

.messages .close-button {
    top: 6px;
    right: 8px;
    color: #fff;
}

.messages .label {
    margin: 0;
    padding: 10px;
}