/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-ms-touch-action: none;
-moz-box-sizing: border-box;
  user-select: none;
	box-sizing: border-box;
}

.slider-header {
  position: relative;
  text-align: center;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0.8em;
    z-index: 0;
    width: 100%;
    border-top: 1px dotted #464646;
  }
  &> h4 {
    font-size: 1rem;
    display: inline-block;
    background: #fff;
    padding: 0 1rem;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }
}
.slider-min,
.slider-max {
  position: absolute;
  top: 0.4em;;
  background: #fff;
  z-index: 1;
}
.slider-min { left: 0; padding-right: 1rem; }
.slider-max { right: 0; padding-left: 1rem; }

.slider {
  position: relative;
  user-select: none;
  width: 100%;
  margin-bottom: 2.2rem;
}
.noUi-target {
	position: relative;
	direction: ltr;
  height: 2px;
  background: $dark-color;
}
.noUi-connect {
  background: $primary-color;
}
.noUi-background {
  background: $dark-color;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: absolute;
  &:after {
    content: "";
    cursor: pointer;
    display: block;
    height: 32px;
    position: absolute; top: -15px; z-index: 100;
    width: 100%;
  }
}
.noUi-origin {
  height: 100%;
  position: absolute; right: 0;
}
.noUi-handle {
  background: $primary-color;
  border: 1px solid $primary-color;
  position: absolute;
  top: -9px;
  left: -10px;
  z-index: 120;
  cursor: pointer;
  width: 23px;
  height: 23px;
  border-radius: 50%;

  &:hover,
  &.noUi-active {
    background: #fff;
    color: #fff;
  }

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
//    content: '\e63b \e63a';
    letter-spacing: 3px;
    box-sizing: border-box;
    font-family: icomoon;
    font-size: 10px;
    width: 100%;
    text-align: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    align-items: center;
    display: inline-flex;
    padding-left: 5.7px;
    vertical-align: middle;
    height: 100%;
  }
  &:after {
    background: none;
    content: "";
    display: block;
    height: 160%;
    top: -30%; left: -30%;
    width: 160%;
  }
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled] .noUi-handle {
	cursor: not-allowed;
}
