/*
  ACCORDION
  ---------

  The trusy accordion allows you to create a series of vertical tabs.
*/

@mixin accordion-title(
  $background: $accordion-title-background,
  $background-hover: $accordion-title-background-hover,
  $background-active: $accordion-title-background-active,
  $color: $accordion-title-color,
  $color-active: $accordion-title-color-active,
  $padding: $accordion-title-padding,
  $font-size: $accordion-title-font-size
) {
  padding: $padding;
  background: $background;
  color: $color;
  line-height: 1;
  cursor: pointer;
  font-size: $accordion-title-font-size;
  font-weight: 400;
  position: relative;
  transition: margin-bottom 0.15s;

  &:hover {
    background: $background-hover;
  }
  &.is-active:hover {
    background: $background;
  }

  > .spinner {
    margin: 0.7em 4.9em 0 0 !important;
  }
  > i {
    vertical-align: middle;
    font-size: $accordion-title-icon-size;
    margin-right: 0.6rem;
    display: inline-block;
    margin-top: -0.2em;
    &:before {
      vertical-align: middle;
      color: $primary-color;
    }
  }

  &:after {
    content: '\e62e';
    font-family: tornadofaces;
    position: absolute;
    right: 2rem;
    font-size: 1.9rem;
    color: $primary-color;
    transition: transform 0.32s;
  }

  .is-active > & {
    background: $background-active;
    color: $color-active;
    padding: get-side($padding,top) 0 get-side($padding,bottom);
    margin: 0 get-side($padding,right) get-side($padding,bottom) get-side($padding,left);
    border-bottom: $default-border;

    &:after {
      transform: rotateX(180deg);
      right: 0;
    }
  }
}

@mixin accordion-content(
  $padding: $accordion-content-padding
) {
  padding: 0 $padding $padding;

  display: none;
  .is-active > & {
    display: block;
  }
}

  .accordion {
    @if hasvalue($accordion-border) {
      border: $accordion-border;
    }
    padding-bottom: $global-padding;
  }
    .accordion-item {
      position: relative;
      background: $accordion-item-background;
      @if hasvalue($accordion-item-border) {
        border: $accordion-item-border;
        margin-bottom: -1px;
      }
      @if hasvalue($accordion-item-shadow) {
        box-shadow: $accordion-item-shadow;
        margin-bottom: -1px;
      }
      transition: margin 0.15s;
      &.is-active {
        margin: 1rem 0;
      }
      &:first-child.is-active { margin: 0 0 1rem;}
      &:last-child.is-active { margin: 1rem 0 0;} //todo: setting
    }
    .accordion-item:last-child {background: #ff0000 !important;}
    .accordion-title {
      @include accordion-title;
    }
    .accordion-content {
      @include accordion-content;
    }
