.breadcrumb {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  margin: 0;
  padding: 1rem 5%; //todo: $content-outer-padding ellerno
  font-size: 14px;

  &.vertical {
    flex-direction: column;
  }
  li + li:before {
    content: "/\00a0";
    color: rgb(204,204,204);
    padding: 0 5px;
  }
  li:last-child {
    font-weight: $font-weight-bold;
    &:before {font-weight: initial;}
  }

  a {
    color: $primary-color;

    &:hover {
      color: darken($primary-color, 30);
      text-decoration: underline;
    }
  }
  .is-active {

  }
}

