@font-face {
  font-family: 'icomoon';
  src: url("icomoon.eot.xhtml?ln=tornadofaces-tornado");
  src: url("icomoon.woff.xhtml?ln=tornadofaces-tornado") format("woff"),
  url("icomoon.ttf.xhtml?ln=tornadofaces-tornado") format("truetype"),
  url("icomoon.svg.xhtml?ln=tornadofaces-tornado") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  margin-right: 0.15em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-database:before {
  content: "\e686";
}

.icon-random:before {
  content: "\f074";
}

.icon-github-alt:before {
  content: "\f113";
}

.icon-git-square:before {
  content: "\f1d2";
}

.icon-git:before {
  content: "\f1d3";
}

.icon-cross:before {
  content: "\e600";
}

.icon-circle-check:before {
  content: "\e601";
}

.icon-back:before {
  content: "\e602";
}

.icon-circle-add:before {
  content: "\e603";
}

.icon-cloud-fill-down:before {
  content: "\e604";
}

.icon-cloud-fill-up:before {
  content: "\e605";
}

.icon-cloud:before {
  content: "\e606";
}

.icon-cross-fill:before {
  content: "\e607";
}

.icon-comment-fill:before {
  content: "\e608";
}

.icon-check:before {
  content: "\e609";
}

.icon-check-fill-square:before {
  content: "\e60a";
}

.icon-check-fill-empty:before {
  content: "\e60b";
}

.icon-check-square:before {
  content: "\e60c";
}

.icon-check-square-empty:before {
  content: "\e60d";
}

.icon-check-fill:before {
  content: "\e60e";
}

.icon-cloud-fill:before {
  content: "\e60f";
}

.icon-cloud-fill-check:before {
  content: "\e610";
}

.icon-bookmark-fill:before {
  content: "\e611";
}

.icon-bookmark-fill-down:before {
  content: "\e612";
}

.icon-bookmark-down:before {
  content: "\e613";
}

.icon-check-fill-down:before {
  content: "\e614";
}

.icon-forbidden:before {
  content: "\e615";
}

.icon-cloud-strike:before {
  content: "\e616";
}

.icon-plus-fill-circle:before {
  content: "\e617";
}

.icon-wand:before {
  content: "\e618";
}

.icon-arrow-go-right:before {
  content: "\e619";
}

.icon-grid:before {
  content: "\e61a";
}

.icon-plus:before {
  content: "\e61b";
}

.icon-download:before {
  content: "\e61c";
}

.icon-arrow-go-left:before {
  content: "\e61d";
}

.icon-cross-fill-arrow-left:before {
  content: "\e61e";
}

.icon-plus-fill-square:before {
  content: "\e61f";
}

.icon-suitcase-fill:before {
  content: "\e620";
}

.icon-plus-circle:before {
  content: "\e621";
}

.icon-man-fill-square:before {
  content: "\e622";
}

.icon-arrow-fill-circle-down:before {
  content: "\e623";
}

.icon-man-fill-circle:before {
  content: "\e624";
}

.icon-right:before {
  content: "\e625";
}

.icon-comments-fill:before {
  content: "\e626";
}

.icon-square-pop:before {
  content: "\e627";
}

.icon-filter-down:before {
  content: "\e628";
}

.icon-flag-fill:before {
  content: "\e629";
}

.icon-folder-fill:before {
  content: "\e62a";
}

.icon-square-pop-down:before {
  content: "\e62b";
}

.icon-external-square:before {
  content: "\e62c";
}

.icon-up:before {
  content: "\e62d";
}

.icon-down:before {
  content: "\e62e";
}

.icon-puzzle-fill:before {
  content: "\e62f";
}

.icon-arrow-download:before {
  content: "\e630";
}

.icon-folder-fill-person:before {
  content: "\e631";
}

.icon-arrow-upload:before {
  content: "\e632";
}

.icon-list-fill:before {
  content: "\e633";
}

.icon-mail-fill-closed:before {
  content: "\e634";
}

.icon-picture-fill:before {
  content: "\e635";
}

.icon-pdf-fill:before {
  content: "\e636";
}

.icon-arrow-fill-right-square:before {
  content: "\e637";
}

.icon-calendar:before {
  content: "\e638";
}

.icon-info-fill-circle:before {
  content: "\e639";
}

.icon-paper-fill:before {
  content: "\e63a";
}

.icon-stats-fill:before {
  content: "\e63b";
}

.icon-mail-fill-open:before {
  content: "\e63c";
}

.icon-text-fill:before {
  content: "\e63d";
}

.icon-page-layout:before {
  content: "\e63e";
}

.icon-rectangle-vertical:before {
  content: "\e63f";
}

.icon-page-pop:before {
  content: "\e640";
}

.icon-trash-fill:before {
  content: "\e641";
}

.icon-applist:before {
  content: "\e642";
}

.icon-viewfinder:before {
  content: "\e643";
}

.icon-comment-fill-right:before {
  content: "\e644";
}

.icon-cut:before {
  content: "\e645";
}

.icon-clipboard:before {
  content: "\e646";
}

.icon-pencil:before {
  content: "\e647";
}

.icon-dots-3-vertical:before {
  content: "\e648";
}

.icon-comment-fill-empty:before {
  content: "\e649";
}

.icon-mouse-fill:before {
  content: "\e64a";
}

.icon-dots-3-fill-arrow-left:before {
  content: "\e64b";
}

.icon-dots-3-horizontal:before {
  content: "\e64c";
}

.icon-comment-fill-image:before {
  content: "\e64d";
}

.icon-alert-fill:before {
  content: "\e64e";
}

.icon-lock-fill-closed:before {
  content: "\e64f";
}

.icon-lock-open:before {
  content: "\e650";
}

.icon-lock-closed:before {
  content: "\e651";
}

.icon-refresh-circle:before {
  content: "\e652";
}

.icon-navigation:before {
  content: "\e653";
}

.icon-comment-fill-left:before {
  content: "\e654";
}

.icon-keyboard-down:before {
  content: "\e655";
}

.icon-list:before {
  content: "\e656";
}

.icon-label-fill-right:before {
  content: "\e657";
}

.icon-label-right:before {
  content: "\e658";
}

.icon-pin:before {
  content: "\e659";
}

.icon-question-fill:before {
  content: "\e65a";
}

.icon-keyboard:before {
  content: "\e65b";
}

.icon-link:before {
  content: "\e65c";
}

.icon-external:before {
  content: "\e65d";
}

.icon-information:before {
  content: "\e65e";
}

.icon-sort-updown:before {
  content: "\e65f";
}

.icon-question-fill-circle:before {
  content: "\e660";
}

.icon-home:before {
  content: "\e661";
}

.icon-men-add:before {
  content: "\e662";
}

.icon-mail-download:before {
  content: "\e663";
}

.icon-image-fill-square:before {
  content: "\e664";
}

.icon-comment-image-left:before {
  content: "\e666";
}

.icon-cog:before {
  content: "\e667";
}

.icon-school:before {
  content: "\e668";
}

.icon-search:before {
  content: "\e669";
}

.icon-minus:before {
  content: "\e66a";
}

.icon-minus-circle:before {
  content: "\e66b";
}

.icon-info-fill-warning:before {
  content: "\e66c";
}

.icon-stats:before {
  content: "\e66d";
}

.icon-printer:before {
  content: "\e66e";
}

.icon-geo:before {
  content: "\e66f";
}

.icon-man:before {
  content: "\e670";
}

.icon-man-add:before {
  content: "\e671";
}

.icon-man-fill-pop:before {
  content: "\e672";
}

.icon-pause-fill-circle:before {
  content: "\e673";
}

.icon-alert:before {
  content: "\e674";
}

.icon-men:before {
  content: "\e675";
}

.icon-alert-fill-strike:before {
  content: "\e676";
}

.icon-info-fill-triangle:before {
  content: "\e677";
}

.icon-list-4:before {
  content: "\e678";
}

.icon-pencil-write:before {
  content: "\e679";
}

.icon-comment-fill-dots:before {
  content: "\e67a";
}

.icon-folder-fill-refresh:before {
  content: "\e67b";
}

.icon-move-up-down:before {
  content: "\e67c";
}

.icon-uni192:before {
  content: "\e67d";
}

.icon-move-left-right:before {
  content: "\e67e";
}

.icon-screen:before {
  content: "\e67f";
}

.icon-servers:before {
  content: "\e680";
}

.icon-calendar-alt:before {
  content: "\e681";
}

.icon-share:before {
  content: "\e682";
}

.icon-star-fill:before {
  content: "\e683";
}

.icon-filter:before {
  content: "\e684";
}

.icon-comment-fill-info:before {
  content: "\e685";
}

.icon-chat:before {
  content: "\110";
}

.icon-globe:before {
  content: "\59";
}