
$message-radius: $input-radius;

$message-info-background: #fff;
$message-info-color: #4d9fff;

$message-success-background: #fff;
$message-success-color: #B3EDC1;

$message-warning-background: #fff;
$message-warning-color: #FFB4A3;

$message-alert-background: #fff;
$message-alert-color: #FF4040;

.messages {
  .close-button {
    top: 1.2rem;
    right: 1.2rem;
  }
}

.message {
  padding-bottom: 0.5rem;
  font-size: .9rem;
  border-radius: $message-radius;
  .close-button {color: inherit;}

  &:before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    margin-top: 0.2rem;
    margin-right: 0.6rem;
    border-radius: 2px;
  }
}

.message--info {
  background: $message-info-background;
  &:before {background: $message-info-color;}
}
.message--success {
  background: $message-success-background;
  &:before {background: $message-success-color;}
}
.message--warning {
  background: $message-warning-background;
  &:before {background: $message-warning-color;}
}
.message--alert {
  background: $message-alert-background;
  &:before {background: $message-alert-color;}
}