/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

// Slider settings
$sliderBaseFontSize: 1rem;
$sliderSpacing: 2rem;

$sliderTrackHeight: 4px;
$sliderTrackColor: #CBCBCB;
$sliderTrackSelectionColor: $primary-color;

$sliderHandleColor: $primary-color;
$sliderHandleBorder: 1px solid #FFFFFF;
$sliderHandleActiveColor: #fff;
$sliderHandleActiveBorder: 1px solid $primary-color;
$sliderHandleSizeX: 23px;
$sliderHandleSizeY: 23px;
$sliderHandleRadius: 50%;
$sliderHandleTransform: scale(.8);
$sliderHandleActiveTransform: scale(1);

$sliderHeaderBackground: #fff;
$sliderHeaderFontSize: 1rem;
$sliderHeaderFontWeight: $font-weight-bold;
$sliderHeaderFontColor: initial;
$sliderHeaderLine: 1px dotted #CBCBCB; //border styling

.slider {
  position: relative;
  user-select: none;
  font-size: $sliderBaseFontSize;
  width: 100%;
  margin-bottom: $sliderSpacing;
  margin-top: $sliderSpacing;
}

.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-ms-touch-action: none;
-moz-box-sizing: border-box;
  user-select: none;
	box-sizing: border-box;
}

.slider-header {
  position: relative;
  text-align: center;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0.8em;
    z-index: 0;
    width: 100%;
    border-top: $sliderHeaderLine;
  }
  &> h4 {
    font-size: $sliderHeaderFontSize;
    color: $sliderHeaderFontColor;
    font-weight: $sliderHeaderFontWeight;
    display: inline-block;
    background: $sliderHeaderBackground;
    padding: 0 1em;
    margin: 0.1em 0 0;
    position: relative;
    z-index: 1;
  }
}
.slider-min,
.slider-max {
  position: absolute;
  top: 0.1em;
  background: $sliderHeaderBackground;
  z-index: 1;
}
.slider-min { left: 0; padding-right: 1em; }
.slider-max { right: 0; padding-left: 1em; }

.noUi-target {
  position: relative;
  direction: ltr;
  height: $sliderTrackHeight;
}
.noUi-connect {
  background: $sliderTrackSelectionColor;
}
.noUi-background {
  background: $sliderTrackColor;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: absolute;
  &:after {
    content: "";
    cursor: pointer;
    display: block;
    height: 32px;
    position: absolute; top: -15px; z-index: 100;
    width: 100%;
  }
}
.noUi-origin {
  height: 100%;
  position: absolute; right: 0;
}
.noUi-handle {
  background: $sliderHandleColor;
  border: $sliderHandleBorder;
  position: absolute;
  top: -9px;
  left: -10px;
  z-index: 120;
  cursor: pointer;
  width: $sliderHandleSizeX;
  height: $sliderHandleSizeY;
  border-radius: $sliderHandleRadius;
  transition: all 0.09s;
  transform: $sliderHandleTransform;

  &:hover,
  &.noUi-active {
    background: $sliderHandleActiveColor;
    border: $sliderHandleActiveBorder;
    transform: $sliderHandleActiveTransform;
  }

  &:before,
  &:after {
    position: absolute;
  }

  &:before { //Todo: Fix slider icon
//    content: '\e63b \e63a';
    letter-spacing: 3px;
    box-sizing: border-box;
    font-family: icomoon;
    font-size: 10px;
    width: 100%;
    text-align: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    align-items: center;
    display: inline-flex;
    padding-left: 5.7px;
    vertical-align: middle;
    height: 100%;
  }
  &:after { //Hit-area for handle
    background: none;
    content: "";
    display: block;
    height: 160%;
    top: -30%; left: -30%;
    width: 160%;
  }
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled] .noUi-handle {
	cursor: not-allowed;
}
