

// ?. Padding & gutters
// - - - - - - - - - - - - - - -

$padding-tiny: ($global-padding / 4);
$padding-small: ($global-padding / 2);
$padding-large: ($global-padding * 1.5);

.padding { padding: $global-padding; }
.padding-0 {padding: 0;}
.padding-small { padding: $padding-small; }
.padding-large { padding: $padding-large; }

.gutters {
  margin-left: -$global-padding !important;
  &> * { padding-left: $global-padding; }
}
.gutters-small {
  margin-left: -($global-padding / 2) !important;
  &> * { padding-left: ($global-padding / 2); }
}
.gutters-medium {
  margin-left: -($global-padding / 1.5) !important;;
  &> * { padding-left: ($global-padding / 1.5); }
}
.gutters-large {
  margin-left: -($global-padding * 1.5) !important;;
  &> * { padding-left: ($global-padding * 1.5); }
}

.t-padding { padding-top: $global-padding; }
.r-padding { padding-right: $global-padding; }
.b-padding { padding-bottom: $global-padding; }
.l-padding { padding-left: $global-padding; }
.lr-padding { padding: 0 $global-padding; }
.tb-padding { padding: $global-padding 0; }

.t-padding-tiny { padding-top: $padding-tiny; }
.r-padding-tiny { padding-right: $padding-tiny; }
.b-padding-tiny { padding-bottom: $padding-tiny; }
.l-padding-tiny { padding-left: $padding-tiny; }
.lr-padding-tiny { padding: 0 $padding-tiny; }
.tb-padding-tiny { padding: $padding-tiny 0; }

.t-padding-small { padding-top: $padding-small; }
.r-padding-small { padding-right: $padding-small; }
.b-padding-small { padding-bottom: $padding-small; }
.l-padding-small { padding-left: $padding-small; }
.lr-padding-small { padding: 0 $padding-small; }
.tb-padding-small { padding: $padding-small 0; }

.t-padding-large { padding-top: $padding-large; }
.r-padding-large { padding-right: $padding-large; }
.b-padding-large { padding-bottom: $padding-large; }
.l-padding-large { padding-left: $padding-large; }
.lr-padding-large { padding: 0 $padding-large; }
.tb-padding-large { padding: $padding-large 0; }

@include breakpoint(small only) {
  .small-padding-0 {padding: 0;}
}
@include breakpoint(medium only) {
  .medium-padding-0 {padding: 0;}
}
@include breakpoint(large) {
  .large-padding-0 {padding: 0;}
  .large-t-padding-0 { padding-top: 0; }
  .large-r-padding-0 { padding-right: 0; }
  .large-b-padding-0 { padding-bottom: 0; }
  .large-l-padding-0 { padding-left: 0; }
  .large-lr-padding-0 { padding: 0; }
  .large-tb-padding-0 { padding: 0; }
}