

// ?. Padding & gutters
// - - - - - - - - - - - - - - -

.padding-small { padding: ($global-padding / 2); }
.padding-large { padding: ($global-padding * 1.5); }
.gutters {
  margin-left: -$global-padding;
  &> * { padding-left: $global-padding; }
}
.gutters-small {
  margin-left: -($global-padding / 2);
  &> * { padding-left: ($global-padding / 2); }
}
.gutters-medium {
  margin-left: -($global-padding / 1.5);
  &> * { padding-left: ($global-padding / 1.5); }
}
.gutters-large {
  margin-left: -($global-padding * 1.5);
  &> * { padding-left: ($global-padding * 1.5); }
}