
//sidemenu
$sidemenu-background-color: $dark-color;
$sidemenu-outer-padding: 0;
$sidemenu-min-width: 300px;
$sidemenu-max-width: 300px;

//sidemenu item - applies to li
$sidemenu-item-background: initial;
$sidemenu-item-hover-background: initial;
$sidemenu-item-padding: 1rem;

@mixin sidemenu-item-active-marker () {
  border-left: 4px solid $primary-color;
}

//sidemenu search
$sidemenu-search-background: #fff;
$sidemenu-search-color: #212121;
$sidemenu-search-placeholder: #ccc;
$sidemenu-search-color: #fff;
$sidemenu-search-border: none;
$sidemenu-search-radius: 2px;

//sidemenu link - applies to li > a
$sidemenu-link-padding: 1rem;
$sidemenu-link-color: #8c8c8c;
$sidemenu-link-hover: #8c8c8c;
$sidemenu-link-hover-background: #212121;
$sidemenu-link-active-background: #212121;

$sidemenu-sublink-padding: 0.4rem 0 0.4rem 0.7rem;
$sidemenu-sublink-radius: 2px;

.sidemenu-toggle {position: absolute;}
.sidemenu {
  min-width: $sidemenu-min-width;
  max-width: $sidemenu-max-width;
  background: $sidemenu-background-color;
  &> .grid-content {overflow: hidden;} // todo: fix js-scrollbar and remove this
  &.collapsed {min-width: 0;}
}
.sidemenu-search {
  padding: $sidemenu-item-padding;
  &> input[type="text"] {
    border: $sidemenu-search-border;
    border-radius: $sidemenu-search-radius;
    margin: 0;
    &:-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $sidemenu-search-placeholder;
    }
  }
}
.sidemenu-items {
  //applies to all
  li {
    a {
      color: $sidemenu-link-color;
      display: block;
    }
  }
  //applies to 1st level only
  &> li {
    &> a {

    }
  }
}
.sidemenu-subitems { //applies to 2nd level only
  margin: 0;
  &> li {
    float: left;
    width: 50%;
    &> a {
      padding: $sidemenu-sublink-padding;
      border-radius: $sidemenu-sublink-radius;
    }
  }
}