
//sidemenu
$sidemenu-background-color: $dark-color;
$sidemenu-border: 1px solid #2A2A2A;;
$sidemenu-outer-padding: 0;
$sidemenu-min-width: 300px;
$sidemenu-max-width: 300px;

//sidemenu item - applies to li
$sidemenu-item-background: initial;
$sidemenu-item-hover-background: initial;
$sidemenu-item-padding: 1rem;

@mixin sidemenu-item-active-marker () {
  border-left: 4px solid $primary-color;
}

//sidemenu search
$sidemenu-search-background: #fff;
$sidemenu-search-color: #212121;
$sidemenu-search-placeholder: #ccc;
$sidemenu-search-color: #fff;
$sidemenu-search-border: none;
$sidemenu-search-radius: 2px;

//sidemenu link - applies to li > a
$sidemenu-link-padding: 1rem;
$sidemenu-link-color: #8c8c8c;
$sidemenu-link-hover: #8c8c8c;
$sidemenu-link-hover-background: #212121;
$sidemenu-link-active-background: #212121;

$sidemenu-sublink-padding: 0.4rem 0 0.4rem 0.7rem;
$sidemenu-sublink-radius: 2px;

//sidemenu popout
$sidemenu-popuot-background: #1e1e1e;

.sidemenu .sidemenu-toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  right: -24px;
  z-index: 1;
  width: 32px;
  height: 50px;
  border-radius: 0 2px 2px 0;
  background: #181818;
  >i {
    font-size: 1.6rem;
    &:before {
      display: block;
      margin-left: 0;
      vertical-align: middle;
    }
  }
  @include breakpoint(small only) {
    &.show-for-small-only {display: flex !important;}
  }
  @include breakpoint(medium up) {
    &.hide-for-small-only {display: flex !important;}
  }
}

.sidemenu-logo {
  text-align: center;
  padding: 1.4rem 1rem 1rem 0; //todo: $logo-padding
  border-bottom: $sidemenu-border;
  > .logo-max {
    width: 194px; //todo: $logo-max-size
    height: auto;
    transition: 0.2s 0.08s;
    opacity: 1;
  }
  > .logo-min {
    width: 0; //todo: $logo-min-size
    height: auto;
    transition: none;
    display: inline-block;
  }
}

.sidemenu {
  min-width: $sidemenu-min-width;
  max-width: $sidemenu-max-width;
  background: $sidemenu-background-color;
  flex-direction: column;
  overflow: visible;
  z-index: 999 !important;
  input { box-sizing: border-box; }
  ul { //reset
    margin: 0;
    box-sizing: border-box;
    >li {list-style: none;}
  }
}

.sidemenu-content {
  position: relative;
  padding-bottom: 2.5rem !important; //todo: FIX this
//  max-height: 100%;
}
.sidemenu-search {
  padding: $sidemenu-item-padding;
  &> input[type="text"] {
    height: 3.3em;
    padding: 1em;
    margin: 0;
    border: $sidemenu-search-border;
    border-radius: $sidemenu-search-radius;
    &:-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $sidemenu-search-placeholder;
    }
  }
}
.sidemenu-items {
  //applies to all
  li {
    list-style: none;
    a {
      color: $sidemenu-link-color;
      display: block;
      font-weight: normal;
    }
    &.active {
      >a {
        font-weight: bold;
      }
    }
  }

  //applies to 1st level only
  > li {
    font-size: 1.4rem; //todo: sidemenu-L1-font-size
    padding: 0;
    border-bottom: $sidemenu-border;
    transition: background 0.2s;
    > a {
      color: #fff;
      font-size: inherit;
      padding: 1.4rem 1.4rem 0; //todo: sidemenu-L1-padding
      > i {
        vertical-align: middle;
        margin-right: 0.2em;
        color: $primary-color;
      }
    }
    &.is-active {
      position: relative;
      &> a {
//        border-left: 4px solid $primary-color;
        padding: 1.4rem 1.4rem 0.7rem; //todo: sidemenu-L1-active-padding
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        height: calc(100% + 2px);
        width: 4px;
        background: $primary-color;
        z-index: 10;
      }
    }
  }
}
.sidemenu-subitems { //applies to 2nd level only
  margin: 0;
  padding: 0.7rem 1.2rem; // TODO: FIX!
  display: block;
  height: auto;
  min-width: $sidemenu-min-width;
  max-width: $sidemenu-max-width;
  &:after {content: ''; display: block; clear: both;}
  &> li {
    float: left;
    width: 50%;
    border-radius: $sidemenu-sublink-radius;
    padding: $sidemenu-sublink-padding;
    &> a {
      &:before {

      }
    }
    &:hover {background: $sidemenu-link-hover-background;}
    &.is-active {
      > a {
        background: transparent !important;
        font-weight: bold;
        color: #fff;
        &:before {
          background: $primary-color;
          display: inline-block;
          width: 3px;
          height: 0.9em;
          top: -.1em;
          position: relative;
          content: '';
          vertical-align: middle;
          margin-right: .6em;
        }
      }
    }
  }
}

// Sidemenu Collapsed ---------------------------------------------/

@include breakpoint(medium up) {

.sidemenu--collapsed {
  max-width: 90px;
  min-width: 75px;

  .sidemenu-toggle {
    position: static;
    width: auto;
    border-bottom: 1px solid #2A2A2A; //todo: $sidemenu-border-color
    >i {
      &:before {
        margin-left: 0;
        transition: all .2s .3s;
        transform: scaleX(-1);
      }
    }
  }
  .sidemenu-logo {padding: 1rem 0;}
  .sidemenu-search {
    display: none;
  }
  .ps-container {overflow: visible !important;}
  .logo-max {
    width: 0;
    opacity: 0;
    transition: none;
  }
  .logo-min {
    width: 50px;
    transition: 0.3s 0.035s;
  }

  .sidemenu-items {
    //applies to all
    li {

      a {

      }
    }

    //applies to 1st level only
    > li {
      &:hover { background: $sidemenu-popuot-background; }
      > a {
        text-align: center;
        padding: 1.4rem 0;
        > i { display: block; }
        > .item-text {display: none;}
      }
      &.is-active {
        &> a {

        }
      }
    }
  }
  .sidemenu-subitems { //applies to 2nd level only
    display: none;
    &> li {
      &> a {
        &:before {

        }
      }
      &:hover {}
      &.is-active {
        > a {
          &:before {
          }
        }
      }
    }
  }
}
.popout-active {
  position: relative;
  background: $sidemenu-popuot-background; //todo: $
  > .sidemenu-subitems {
    background: $sidemenu-popuot-background; //todo: $
    border: $sidemenu-border;
    display: block;
    position: absolute;
    width: 280px;
    left: calc(100% - 1px);
    top: 0;
    z-index: -1;
  }
}
} //breakpoint medium up END