
@mixin tabstrip(
	$orientation: horizontal,
	$background: $tabstrip-background
) {
	/*
		Container styles
	*/
    user-select: none;
    border-radius: $tabstrip-radius;
	display: flex;
	background: $background;
    padding: 0 0 $tabstrip-padding $tabstrip-padding;

	@if $orientation == vertical {
	  flex-flow: column nowrap;
	}
	@else {
      flex-flow: row wrap;
      margin-bottom: 2rem; //todo: variable for default vertical margins
	}
}

.tabview {
  border: $tabview-border;
  padding: $tabview-padding;
}

@mixin tabstrip-item(
	$background: $tab-title-background,
	$background-hover: $tab-title-background-hover,
	$background-active: $tab-title-background-active,
	$color: $tab-title-color,
	$color-active: $tab-title-color-active,
	$color-hover: $tab-title-color-hover,
	$padding: $tab-title-padding
) {
  background: $background;
  padding: $padding;
  line-height: 1;
  margin: 0;
  flex: 0 1 auto;
  cursor: pointer;
  color: $color;
  border-radius: $tab-title-radius;
  transition: all 0.2s;
  margin: $tabstrip-padding $tabstrip-padding 0 0;

  &.is-active {
    background: $background-active;
    color: $color-active;

    &:hover {
      background: $background-active;
      color: $color-active;
    }
  }
  &:hover {
    background: $background-hover;
    color: $color-hover;
  }
  &:active {
    background: $background-active;
    color: $color-active;
    transition-duration: 0s;
  }
}

@mixin tab-content(
	$padding: $tab-content-padding
) {
  padding: $padding;
}

@mixin tab-content-item {
  display: none;
  &.is-active {
    display: block;
  }
}

@include exports(tabs) {
  .tabs {
    @include tabstrip(horizontal);

    &.vertical {
      @include tabstrip(vertical);
    }

    .tab-item {
      @include tabstrip-item;
    }
  }

  .tab-contents {
    @include tab-content;

    .tab-content {
      @include tab-content-item;
    }
  }
}
