
// Defaults

$default-cell-padding: 1rem;
$default-table-border: 1px solid #ddd; //todo: make global default border
$default-table-border-dotted: 1px dotted #CACACA; //todo: make global default border

$table-zebra-background: #EFF6FA;
$table-selected-row-background: #9bdbff;

$table-compact-padding: 0.5rem;
$table-compact-font-size: 0.85rem;

$table-reflow-compact-padding: 0.1rem 0.9rem;

table {
  text-align: left;
  margin-bottom: 2rem;
  width: 100%;
}
thead {
  > tr {

  }
}
tbody {

}
tfoot {

}
tr {
  border-bottom: $default-table-border-dotted;
}

// Selection
tbody tr.selected {
  background-color: $table-selected-row-background;
}

.table-rowselect-single tbody tr, .table-rowselect-multiple tbody tr {
  cursor: pointer;
}

tbody tr.table-expand-row {
  cursor: default;
}

.row-toggler:before {
  font-family: 'icomoon';
  content: "\e625";
}

.row-toggler.open:before {
  font-family: 'icomoon';
  content: "\e62e" !important;
}

td, th {
  padding: $default-cell-padding;
}
td {

}
th {
  font-weight: bold;
  color: $default-header-color;
}


// Zebra

.table-zebra {
  tr {border: none;}
  >tbody {
    >tr {
      &:nth-child(odd) {
        background: $table-zebra-background;
      }
    }
  }
}

//bordered

.table-bordered {
  tr { border: $default-table-border; }
  td, th {
    border-right: $default-table-border;
    &:first-child { border-left: $default-table-border; }
  }
}

//compact

.table-compact {
  font-size: $table-compact-font-size;
  tr { }
  td, th {
    padding: $table-compact-padding;
    &:first-child { }
    &:last-child { }
  }
}

// Reflow

@include breakpoint(medium up) {
  .table-reflow {
    td {
      &:before { display: none; }
    }
  }
}
@include breakpoint(small only) {
  .table-reflow {
    thead { display: none; }
    tr {
      display: block;
      padding: 1rem 0;
    }
    td {
      display: block;
      padding: 0.4rem 1.1rem;
      &:before {
        font-weight: bold;
        padding-right: 1rem;
      }
    }

    &.table-bordered { //reflow bordered
      tr { margin-top: -1px; }
      td, th { border: none; }
    }
    &.table-compact { //reflow compact
      tr { padding: 0.7rem 0; }
      td, th { padding: 0.1rem 0.9rem; }
    }
  }
  .table-reflow--block {
    text-align: center;
    tr {margin-bottom: 1rem;}
    td {
      &:before {
        padding-right: 0;
        display: block;
      }
    }
  }
}


