// ?. Flippanel
// - - - - - - - - - - - - - - -
.flip-panel {
  perspective: 1000;
  position: relative;
  padding: 0;

  .flip-content {
    position: relative;
    transform-style: preserve-3d;
  }

  .front, .back {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    border: 1px solid #cecece;
  }

  .back {
    display: none;
  }

  &.flipped .front {
    display: none;
  }

  &.flipped .back {
    display: block;
  }

}