// ?. Flippanel
// - - - - - - - - - - - - - - -

.flip-panel {
  perspective: 1000;
  position: relative;
  padding: 0;
  margin-bottom: 2rem;

  .flip-content {
    position: relative;
    transform-style: preserve-3d;
  }

  .front, .back {
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 4px;
  }

  .back {
    display: none;
  }

  &.flipped .front {
    display: none;
  }

  &.flipped .back {
    display: block;
  }

}