body {
    overflow: hidden;
    max-height: 100vh;
}

.menu-group-left h1 a {
    color: #fff;
    padding-left: 0.8em;
    font-size: 20px;
    font-weight: bold;
}

.menu-toggle {
    cursor: pointer;
}

.menu-bar.dark > li > a {
    color: #8E9A9A;
}

#left-menu-container {
    /*background: #f9f9f9;*/
    background: #353E3E;
    border-right: 1px solid #e7e7e7;
    color: #fff;
}
#left-menu .title {
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    margin-top: 1rem;
}

@media only screen and (min-width: 75em) {
    #left-menu-container .menu-bar > li > a {
        padding: 0.8rem 1rem;
    }
    #left-menu .title {
        margin-top: 0;
    }
}

#left-menu {
    /*background: #f9f9f9;*/
    padding-bottom: 2rem;
}

#main-container {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    max-height: calc(100vh - 54px);
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #F4F4F1;
}

@media only screen and (max-width: 40em) {
    body {
        background: #fff;
    }
    #main-container {
        padding: 0 !important;
    }
    .box {
        box-shadow: none;
        margin: 0 0 20px;
        margin: 0;
    }
    .box .subheader i { display: none; }
}

@media only screen and (min-width: 40em) {
    #main-container {
        /*padding: 2rem !important;*/
        padding: 0;
    }
}
@media only screen and (min-width: 75em) {
    #main-container {
        /*padding: 2rem 3rem !important;*/
        padding: 0;
    }
}

pre { font-size: 14px !important; }
pre code {
    background-color: inherit;
    border: none;
}

table.attributes th, table.api-info th {
    background-color: #e7e7e7;
    text-align: left;
}

table.attributes, table.tag-info, table.api-info {
    border-collapse: collapse;
    width: 100%
}

table.attributes, table.tag-info, table.tag-info td, table.api-info td, table.attributes td, table.tag-info th, table.api-info th, table.attributes th {
    border: 1px solid #cecece;
    vertical-align: text-top;
    padding: 8px !important;
}

table.tag-info th {
    font-weight: bold;
    text-align: left;
}

.documentation-contents h5 {
    margin-top: 25px;
    font-weight: bold;
}